################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/P06Extended/bin/Release
/P06Extended/obj
/P06Extended/.vs
